<div class="top-menu">

    <img class="logo"
         src="https://angular-academy.s3.amazonaws.com/main-logo/main-page-logo-small-hat.png">

</div>


<div class="courses">
    <ng-template #blankImage let-courseName>
        <p class="warn">
            {{courseName}} has no image yet.
        </p>
        <img lass="course-image" src="/assets/empty-image.png" alt="No image">
    </ng-template>

    @for (course of courses; track trackCourseById){
        <course-card (courseSelected)="onCourseSelected($event)" [course]="course" 
        [noImageTemplate]="blankImage">
        
         <img class="course-image" width="300" alt="Angular Logo"
            [src]="course.iconUrl">
        
        <div class="course-description">
            {{course.longDescription}}
        </div> 

        </course-card>
    }
    @empty {
        <div class="no-results">
            No courses found!
        </div>
    }
</div>


